main, header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}
.form-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    border: solid grey 2px;
    border-radius: 5px;
    padding: 15px;
    color: whitesmoke;
    align-content: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: whitesmoke;
    align-content: center;
}

h1 {
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 10px;
    color: white;
}

nav.nav {
    background-color: white
}

body {
    background-image: url(Game-Thrones-Zoom-Background.webp);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100vw, 100vh;
    background-repeat: no-repeat;

}

table {
    background-color: white;
    border-color: black;
}